@import url(https://fonts.bunny.net/css?family=caveat:700);

:root {
    --animation-duration: 60s;
    --degrees: 360deg;
    --degree-start: 0deg;
    --radius: min(35vw, 350px);
    --pi: 3.141592653589793;

    --noria-line-color: rgb(255 255 255 / .5);
    --noria-car-scale: 0.8;
    --noria-car-bg: rgb(3 46 21);
    --noria-car-hover-scale: 1;
    --noria-car-hover-others-opacity: .35;
    --noria-car-line-color: rgb(255 255 255 / .5);

    --icon-hover-y: -25%;
    --icon-scale: .6;
    --icon-hover-scale: .4;

    --h1-font-family: 'Caveat', handwriting;
    --h1-bg-color: radial-gradient(rgb(13, 84, 43) 10%, rgb(3 46 21));
    --h1-text-color: rgb(255 136 17);
    --h1-border-color: rgb(255 136 17);

    --message-font-family: 'Caveat', handwriting;
    --message-font-size: clamp(.65rem, 1.7vw + .04rem, 2rem);
    --message-border: 1px dottet white;
    --message-font-color: white;
    --message-line-height: 1;
    --message-top-margin: clamp(0.75rem, 12%, 2rem);

}

body {
    background: radial-gradient(rgb(159, 7, 18), rgb(70, 8, 9), black);
}

#sorteo,
#div-ganador {
    display: none;
}

body::before {
    content: '';
    position: fixed;
    pointer-events: none;
    inset: 0;
    opacity: .15;
    background-image: url("/imagenes/capa_fondo.svg");
    background-size: 70vw;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    z-index: 3;
    line-height: 1;
    font-family: var(--h1-font-family);
    font-size: clamp(1rem, 5vw + .045rem, 4rem);
    color: var(--h1-text-color);

    background: var(--h1-bg-color);
    border: 1px solid var(--h1-border-color);
    padding: 0;
    width: 10ch;
    display: flex;
    align-items: center;
    place-content: center;
    text-align: center;
    isolation: isolate;
    clip: text;

    &::before {
        content: '';
        position: absolute;
        inset: 10%;
        border-radius: 50%;
        background-image: url("/imagenes/capa_fondo.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: .15;
        filter: invert(75%);
        rotate: 15deg;
        z-index: -1;

    }
}

.no-hover {
    pointer-events: none;
}

/* START Principal */
body .sorteo>* {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    aspect-ratio: 1;
    border-radius: 9in;
}

@keyframes --rotate-border {
    to {
        rotate: 1turn
    }
}

@keyframes --sparkle {
    to {
        opacity: 0;
    }
}

.sorteo {
    user-select: none;
}

.noria,
.circle-container {
    animation-name: rotate-it;
    animation-timing-function: linear;
    animation-duration: var(--animation-duration);
    animation-iteration-count: infinite;
    transition:
        width 50ms ease-in-out,
        height 50ms ease-in-out;
}

.noria {
    --noria-items: sibling-count();
    --noria-line-color: rgb(255 255 255 / .5);
    z-index: 0;
    width: calc(var(--radius) * 2);
    border: 1px solid var(--noria-line-color);

    &::before,
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }

    &::before {
        content: '';
        width: calc(var(--radius) * 1.1);
        aspect-ratio: 1;
        border-radius: inherit;
        border: inherit;
    }

    & i {
        --i: sibling-index();
        --noria-line-angle: calc((var(--degrees) / var(--noria-items)) * var(--i) + var(--degree-start));
        width: 1px;
        height: calc(var(--radius) * 2);
        background: var(--noria-line-color);
        rotate: var(--noria-line-angle);
    }
}

.circle-container {
    --items: sibling-count();
    --car-size: calc((2 * var(--pi) * var(--radius) / var(--items)) * var(--noria-car-scale));

    cursor: pointer;

    z-index: 1;

    &:has(:hover)>div:not(:hover)>* {
        opacity: var(--noria-car-hover-others-opacity);
    }

    &>div {
        --i: sibling-index();
        --car-angle: calc((var(--degrees) / var(--items)) * var(--i) + var(--degree-start));
        --car-x: calc(50% + (var(--radius) * cos(var(--car-angle))));
        --car-y: calc(50% + (var(--radius) * sin(var(--car-angle))));

        border: 1px solid var(--noria-car-line-color);
        background: var(--noria-car-bg);
        border-radius: 9in;
        position: absolute;
        left: var(--car-x);
        top: var(--car-y);
        translate: -50% -50%;
        width: var(--car-size);
        height: var(--car-size);
        aspect-ratio: 1;
        transition-property: translate, opacity, scale;
        transition-duration: 150ms;
        tranistion-timing-function: ease-in-out;
        scale: var(--car-scale, 1);
        overflow: visible;

        animation: rotate-it linear var(--animation-duration, 10s) infinite reverse;

        &>*,
        &::before {
            transition-property: scale, translate, opacity;
            transition-duration: 300ms;
            transition-timing-function: ease-in-out;
            position: absolute;
            inset: 0;
            translate: 0 var(--message-top-margin);
        }

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: drop-shadow(0 0 0.75rem rgb(1 1 1 / .5));
            scale: var(--icon-scale, 1);
            translate: 0 var(--icon-y, 0);
        }

        /* hidden message */
        &::before {
            content: attr(data-msg);
            position: absolute;
            inset: 0;
            z-index: 10;
            opacity: var(--message-opacity, 0);
            scale: var(--message-scale, 0);
            transform-origin: center;
            padding: .5em;
            color: var(--message-font-color);
            font-family: var(--message-font-family);
            font-size: var(--message-font-size);
            font-weight: bold;
            line-height: var(--message-line-height);
            text-wrap: balane;
            display: grid;
            place-content: center;
            opacity: var(--message-opacity, 0);
            scale: var(--message-scale, 0);
        }

        &:hover,
        &.sorteada {
            z-index: 3;
            --car-scale: var(--noria-car-hover-scale);
            --icon-scale: var(--icon-hover-scale);
            --icon-y: var(--icon-hover-y);
            --message-opacity: 1;
            --message-scale: 1;
        }
    }
}

.sorteada {
    cursor: auto;
}

/* END Principal */

/* START Subir archivo */

.btnSubir input {
    display: none;
}

.label-text {
    z-index: -1000;
    left: 40%;
    position: absolute;
    top: 50%;
    width: 25%;
    height: 60px;
    font-family: var(--h1-font-family);
    font-size: clamp(1rem, 5vw + .045rem, 3rem);
    color: var(--h1-text-color);
    background-color: rgb(13, 84, 43);
    display: grid;
    place-content: center;
    text-align: center;
    isolation: isolate;
    clip: text;
}


.btnSubir {
    cursor: pointer;

    svg {
        height: 60px;
        left: 40%;
        position: absolute;
        top: 50%;
        width: 25%;
    }

    rect {
        z-index: 1000;
        fill: none;
        stroke: var(--h1-text-color);
        stroke-width: 2;
        stroke-dasharray: 422, 0;
        transition: all 0.35s linear;
    }
}

.btnSubir:hover {
    rect {
        stroke-width: 5;
        stroke-dasharray: 15, 310;
        stroke-dashoffset: 48;
        transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }
}

@keyframes rotate-it {
    to {
        rotate: 1turn;
    }
}

/* END Subir archivo */

/* START Copo nieve */
@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(80px)
    }

    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    font-family: var(--h1-font-family);
    color: #fff;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: -10%;
    z-index: -9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}

.snowflake img {
    width: 50px;
    filter: brightness(0) invert(1);
}


.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 8%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 15%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 22%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 30%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 37%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 45%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 52%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 59%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 66%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}



.snowflake:nth-of-type(10) {
    left: 90%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 0.5s
}

.snowflake:nth-of-type(11) {
    left: 74%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(12) {
    left: 82%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

/* END Copo nieve */

/* START ganador */
.imgs-ganador {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.btn-ganador {
    max-width: 150px;
    cursor: pointer;
}

.btn-ganador:hover {
    scale: 1.1;
}

/* END ganador */